html,
body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 25vw;
  padding: 30px;
  border-radius: 2px;
  justify-content: center;
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.75);
}

form > input {
  height: 25px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
}

form > input[type="submit"] {
  height: 40px;
  background: #ff7a59;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 30px;
  border: none;
}

.option {
  height: 30px;
  border-radius: 3px;
  color: black;
  text-align: center;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  background: #ff7a59;
  color: white;
  font-weight: 500;
  border: none;
}

input:focus {
  outline: none !important;
  border-bottom-color: #ff7a59;
}

h3 {
  padding: 5px;
}